parameters:
    ignoreErrors:
        # An expected error as we are testing unavailable dependencies.
        - '#Property RQuadlingTests\\Console\\Fixtures\\BadCommand\\BadTestCommand::\$unavailableDependency has unknown class RQuadlingTests\\Console\\Fixtures\\BadCommand\\UnavailableDependency as its type#'
